<div class="container">
    <div class="title">ORGANIZATION DETAILS</div>
    <form action="/register-form" method="post">
        <div class="user-details">
            <div class="input-box">
                <span class="details">First Name</span>
                <input type="text" name="fname" placeholder="Enter first name">
            </div>
            <div class="input-box">
                <span class="details">Last Name</span>
                <input type="text" name="lname" placeholder="Enter last name">
            </div>
            <div class="input-box">
                <span class="details">Contact Number</span>
                <input type="text" name="mobile" placeholder="Enter contact number">
            </div>
            <div class="input-box">
                <span class="details">Email Address</span>
                <input type="email" name="email" placeholder="Enter email">
            </div>
            <div class="input-box">
                <span class="details">Company Name</span>
                <input type="text" name="companyName" placeholder="Enter company name">
            </div>
            <div class="input-box">
                <span class="details">Address</span>
                <input type="text" name="address" placeholder="Enter address">
            </div>
        </div>
        <div class="location-details">
            <div class="location">
                <span class="detail">City</span>
                <input type="text" name="city" placeholder="Enter city">
            </div>
            <div class="location">
                <span class="detail">State</span>
                <input type="text" name="state" placeholder="Enter state">
            </div>
            <div class="location">
                <span class="detail">Country</span>
                <input type="text" name="country" placeholder="Enter country name">
            </div>
        </div>
        <div class="button">
            <button type="submit" >Submit Form</button>
        </div>
    </form>
</div>